[submodule "minvo"]
	path = examples/scripts/matlab/submodules/minvo
	url = https://github.com/mit-acl/minvo
[submodule "export_fig"]
	path = examples/scripts/matlab/submodules/export_fig
	url = https://github.com/altmany/export_fig
